
/*HELLO %username%! It's CSS styles, fuck u */
BODY 
{
	perspective: 500px;
	perspective-origin: center center;
	width: 100%; 
	height: 70%; 
	justify-content: center;  
	display: inline-block;
	padding: 0px;
	border:0px;
	margin:0;
	background: black;
 
}


@media screen and (min-width: 600px) 
{
	.container 
	{
	  width: 10%;
	  height: 10%;
	  border: 0px dotted white;
	  transform-style: preserve-3d;
	  justify-content: center;  
	  margin:0;
	  justify-content: center;
	  align-items: center;
	  z-index: 1;
	}
}

@media screen and (max-width: 600px) 
{
	.container 
	{
	  width: 10%;
	  height: 10%;
	  border: 0px dotted white;
	  transform-style: preserve-3d;
	  z-index: 1;
	}
}



.container:before,
.container:after 
{
	  content: "";
	  display: block;
	  position: absolute;
	  width: 10%;
	  height: 10%;
	  border: 0px dotted white;

}
.container:before 
{
	transform: rotateX(90deg);  
}
.container:after 
{
	transform: rotatey(90deg);  
}


.MISH_OLEG
{
	  position: absolute;
	  width: 4em;
	  height: 2em;
	  border: 0px solid white;
	  opacity: 1;
	 
	  transform:  translateY(15em) translateZ(15em) rotateY(90deg);
	  background-image: url(mise_oleg.png);
	  background-repeat:  no-repeat;
	  background-size: 100%; 
		
	  animation: mise_go 15s infinite linear;
  
}


.side 
{
	  position: absolute;
	  width: 10em;
	  height: 10em;
	  border: 1px solid white;
	  opacity: 1;
}


  

.leftwall
{
	  position: absolute;
	  width: 20em;
	  height: 20em;
	  border: 0px solid white;
	  opacity: 1;
	  transform: translateX(20.1em) translateY(-5em) translateZ(10em) rotateY(-90deg) ;
	  background-image: url(right_wall.jpg);
	  background-repeat:  n0-repeat;
	  background-size: 100%;
}
  

.rightwall
{
	  position: absolute;
	  width: 20em;
	  height: 20em;
	  border: 0px solid white;
	  opacity: 1;
	 
	  transform: translateX(-30em) translateY(-5em) translateZ(10em) rotateY(90deg);
	  background-image: url(left_wall.jpg);
	  background-repeat:  no-repeat;
	  background-size: 100%;
}

.upwall
{
	  position: absolute;
	  width: 50em;
	  height: 20em;
	  border: 0px solid white;
	  opacity: 1;
 
	transform: translateX(-20em) translateY(-15em) translateZ(10em) rotateX(90deg);
  
    background-image: url(potol.jpg);
	background-repeat:  no-repeat;
	background-size: 100%;
} 
  
.floor
{
	  position: absolute;
	  width: 50em;
	  height: 20em;
	  border: 0px solid white;
	  opacity: 1;
	 
	  transform: translateX(-20em) translateY(5em) translateZ(10em) rotateX(90deg) ;
	  background-image: url(polol.jpg);
	  background-repeat: no-repeat;
	  background-size: 100%; 
}
.front {
	box-shadow: 0 0 50px magenta;
    transform: translateZ(5em) translateZ(-5);
    background-image: url(lapa.jpg);
	background-repeat:  no-repeat;
	background-size: cover; 
	animation: seeya .75s ease-out infinite;
  }
  
/*-------------------------------------------------backwall + okno ---------------*/
  .backwall_u{
  position: absolute;
  width: 10em;
  height: 1em;
  border: 0px solid white;
  opacity: 1;

   transform: translateX(-15em) translateY(-5em) translateZ(0em) rotateX(0deg);
    background-image: url(bricket.jpg);
	background-repeat:  repeat;
	background-size: 100%; 
  }
    .backwall_u_z{
  position: absolute;
  width: 10em;
  height: 2em;
  border: 0px solid white;
  opacity: 1;

   transform: translateX(-15em) translateY(-5em) translateZ(-1em) rotateX(90deg);
    background: pink; 
  }
  
  .backwall{
  position: absolute;
  width: 35em;
  height: 20em;
  border: 0px solid white;
  opacity: 1;

   transform: translateX(-5em) translateY(-5em) translateZ(0em) rotateX(0deg);
    background-image: url(bricket.jpg);
	background-repeat:  repeat;
	background-size: 30%; 
  }
   .backwall_z{
  position: absolute;
  width: 2em;
  height: 20em;
  border: 0px solid white;
  opacity: 1;

   transform: translateX(-6em) translateY(-4em) translateZ(-1em)  rotateY(90deg);
    background: pink; 
  } 
 

.backwall_glass
{
	  position: absolute;
	  width: 10em;
	  height: 20em;
	  border: 0px solid white;
	  opacity: .4;

	  transform: translateX(-15em) translateY(-4em) translateZ(-1em) rotateX(0deg);
	  background:  black;
}

 .backwall_l
 {
	  position: absolute;
	  width: 5em;
	  height: 20em;
	  border: 0px solid white;
	  opacity: 1;

	  transform: translateX(-20em) translateY(-5em) translateZ(0em) rotateX(0deg);
	  background-image: url(bricket.jpg);
	  background-repeat:  repeat-y;
	  background-size: 190%; 
}
  
.backwall_l_z
{
	  position: absolute;
	  width: 2em;
	  height: 20em;
	  border: 0px solid white;
	  opacity: 1;

	  transform: translateX(-16em) translateY(-4em) translateZ(-1em) rotateY(90deg);
	  background: pink; 
}

/*-------------------------------------------------backwall + okno ---------------*/
 
/*-------------------------------------------------VENTILIATOR---------------*/

.venteliator_v1
{
	  position: fixed;
	  width: 11em;
	  height: 11em;
	  opacity: 1;

      background-image: url(ventil.png);
	  background-repeat:  no-repeat;
	  background-size: 100%; 
	  z-index:1;
   
	  animation: vent_go_round 1s infinite linear;

}
.venteliator_v2
{
	  position: absolute;
	  width: 13em;
	  height: 13em;
	  border: 0px solid white;
	  opacity: 1;

      background-image: url(ventil2.png);
	  background-repeat:  no-repeat;
	  background-size: 100%; 
	  
	  -webkit-filter: blur(2px);
      -moz-filter: blur(2px);
      filter: blur(2px);
      filter: url(be2.jpg#blur');
	  
      z-index:5;
	  animation: vent_go_round2 1s infinite linear;

}

/*-------------------------------------------------VENTILIATOR---------------*/
/*-------------------------------------------------podushka 1---------------*/
  
.divan_poduha_1_bottom
{
	  position: absolute;
	  width: 5em;
	  height: 4em;
	  border: 0px solid white;
	  opacity: 1;
 
      background-image: url(spina.jpg);
	  background-repeat:  repeat;
	  background-size: 150%;
	
	  transform: translateX(-16.5em) translateY(9.5em) translateZ(3.5em)  rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}


.divan_poduha_1_le
{
	  position: absolute;
	  width: 1em;
	  height: 4em;
	  border: 0px solid white;
	  opacity: 1;
	  
	  background: black;
		
	  transform: translateX(-17em) translateY(9.5em) translateZ(3em)  rotateX(0deg) rotateY(90deg) rotateZ(0deg);
	 
}
  
.divan_poduha_1_ri
{
	  position: absolute;
	  width: 1em;
	  height: 4em;
	  border: 0px solid white;
	  opacity: 1;
  
      background: linear-gradient(to bottom , rgba(188,94,163,1) 0%, rgba(39,15,32,1) 20%, rgba(0,0,0,1) 30%,  rgba(0,0,0,1) 100%);
	
      transform: translateX(-12em) translateY(9.5em) translateZ(3em)  rotateX(0deg) rotateY(90deg) rotateZ(0deg);
	 
}
  
.divan_poduha_1_up
{
	  position: absolute;
	  width: 5em;
	  height: 1em;
	  border: 0px solid white;
	  opacity: 1;
  
	  background: linear-gradient(to bottom left, rgba(188,94,163,1) 0%,rgba(0,0,0,1) 100%);
	
      transform: translateX(-16.5em) translateY(9em) translateZ(3em)  rotateX(90deg) rotateY(0deg) rotateZ(0deg);
	 
}
  
/*-------------------------------------------------podushka 1---------------*/
  
/*-------------------------------------------------STOL---------------*/
.stol_oval 
{
	width: 6em;
	height: 6em;
	background: #83A7C9;
	border: 4px solid white;
	
	background-image: url(stolik.png);
	background-repeat:  no-repeat;
	background-size: 100%; 
	border-radius: 50%;
	opacity: .5;
	transform: translateX(-16.8em) translateY(8.1em) translateZ(13em) rotateX(-90deg) rotateY(0deg) rotateZ(40deg);
}
.stol_n1 
{
	  position: absolute;
	  width: 5em;
	  height: 5em;
	  border: 0px solid white;
	  opacity: 1;

      background-image: url(stolik_noga.png);
	  background-repeat:  no-repeat;
	  background-size: 100%; 
	
	  transform: translateX(-16.5em) translateY(4em) translateZ(13em) rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
}
.stol_n2 
{
	  position: absolute;
	  width: 5em;
	  height: 5em;
	  border: 0px solid white;
	  opacity: 1;

	  background-image: url(stolik_noga.png);
	  background-repeat:  no-repeat;
	  background-size: 100%; 
		
	  transform: translateX(-16.5em) translateY(4em) translateZ(13em) rotateX(0deg) rotateY(10deg) rotateZ(0deg);
}

/*-------------------------------------------------STOL---------------*/

/*----------------------------------------------------------------------PALMA*/
.sidetree 
{
	  position: absolute;
	  width: 20em;
	  height: 20em;
	  border: 0px solid white;
	  opacity: 1;

	  background-image: url(palma.png);
	  background-repeat:  no-repeat;
	  background-size: cover; 
}
.left3 
{
  transform: translateX(10em) translateY(-5em) translateZ(5em) rotateY(180deg);
}
.gorshok_oval 
{
	  position: absolute;
	  width: 4em;
	  height: 4em;
	  border: 0px solid white;
	  opacity: 1;
	  background: #462f19;
	  
      transform: translateX(18em) translateY(11.3em) translateZ(5em) rotateX(-90deg);
}

.gorshok_o1 
{
	  position: absolute;
	  width: 4em;
	  height: 2em;
	  border: 0px solid white;
	  opacity: 1;
	  
      background:#0d0d13;

     transform: translateX(18em) translateY(13em) translateZ(7em);
}
.gorshok_o4 
{
	  position: absolute;
	  width: 4em;
	  height: 2em;
	  border: 0px solid white;
	  opacity: 1;
  
      background:#171722;

	  transform: translateX(18em) translateY(13em) translateZ(3em);
}
.gorshok_o2 
{
	  position: absolute;
	  width: 4em;
	  height: 2em;
	  border: 0px solid white;
	  opacity: 1;
  
      background:#313b44;

	  transform: translateX(16em) translateY(13em) translateZ(5em)  rotateX(0deg) rotateY(90deg) rotateZ(0deg);
} 
.gorshok_o3 
{
	  position: absolute;
	  width: 4em;
	  height: 2em;
	  border: 0px solid white;
	  opacity: 1;

      background:#313b44;

      transform: translateX(20em) translateY(13em) translateZ(5em)  rotateX(0deg) rotateY(90deg) rotateZ(0deg);
	 
}
  
 
/*----------------------------------------------------------------------PALMA*/ 
  
  /*---------------------------------------------------DIVAN-------*/
  /*---------------------------------------------------------------*/
  /*---------------------------------------------------------------*/
  /*--------------------------------------------------------------*/
  
.divan_down_down
{
	  position: absolute;
	  width: 17em;
	  height: 6em;
	  border: 0px solid white;
	  opacity: 1;
	  
	  background: black;
		
	  transform: translateX(-19em) translateY(11em) translateZ(4em) translateX(0em) rotateX(90deg) rotateZ(0deg); 
}
  
  
.divan_down_up
{
	  position: absolute;
	  width: 17em;
	  height: 6em;
	  border: 0px solid white;
	  opacity: 1;
  
      background-image: url(divan.jpg);
	  background-repeat:  repeat-x;
	  background-size: 60%;

	  transform: translateX(-19em) translateY(10.2em) translateZ(4em) translateX(0em) rotateX(90deg) rotateZ(0deg); 
}
 
  
  
.divan_down_up2
{
	position: absolute;
	width: 17em;
	height: 6em;
	border: 0px solid white;
	opacity: 1;
	  
	background-image: url(divan.jpg);
	background-repeat:  repeat-x;
	background-size: 60%;	
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
		
	transform: translateX(-19em) translateY(10.2em) translateZ(4em) translateX(0em) rotateX(90deg) rotateZ(0deg); 
} 
.divan_down_bottom_up 
{
	  position: absolute;
	  width: 14em;
	  height: 2em;
	  border: 0px solid white;
	  opacity: 1;

	  background: linear-gradient(to bottom left, rgba(188,94,163,1) 0%,rgba(0,0,0,1) 100%);
	
      transform: translateX(-17.5em) translateY(10em) translateZ(1.5em) translateX(0em) rotateX(90deg) rotateZ(0deg);
}
.divan_down_left_up
{
	  position: absolute;
	  width: 1.5em;
	  height: 6em;
	  border: 0px solid white;
	  opacity: 1;
	  
	  background: linear-gradient(to bottom , rgba(39,15,32,1) 0%,rgba(0,0,0,1) 100%);
		
	  transform: translateX(-19em) translateY(8em) translateZ(4em) translateX(0em) rotateX(90deg) rotateZ(0deg);	 
}
.divan_down_right_up
{
	  position: absolute;
	  width: 1.5em;
	  height: 6em;
	  border: 0px solid white;
	  opacity: 1;
	  
	  background: linear-gradient(to bottom , rgba(188,94,163,1) 0%,rgba(0,0,0,1) 100%);
		
	  transform: translateX(-3.5em) translateY(8em) translateZ(4em) translateX(0em) rotateX(90deg) rotateZ(0deg);	 
}
.divan_down_bottom_bottom
{
	  position: absolute;
	  width: 17em;
	  height: 3em;
	  border: 0px solid white;
	  opacity: 1;
	  
	  background: #393939;
		
	  transform: translateX(-19em) translateY(11em) translateZ(1em)  rotateX(0deg) rotateY(0deg) rotateZ(0deg); 
}
.divan_down_bottom_top
{
	position: absolute;
	width: 14em;
	height: 3em;
	border: 0px solid white;
	opacity: 1;
	  
	background-image: url(divan.jpg);
	background-repeat:  repeat-x;
	background-size: 50%;
		
	transform: translateX(-17.5em) translateY(11em) translateZ(2.5em)  rotateX(0deg) rotateY(0deg) rotateZ(0deg); 
}
.divan_down_bottom_top3
{
	position: absolute;
	width: 14em;
	height: 3em;
	border: 0px solid white;
	opacity: 1;
  
    background-image: url(divan.jpg);
	background-repeat:  repeat-x;
	background-size: 50%;
	background: linear-gradient(to bottom, rgba(0,0,1,0) 0%,rgba(0,0,0,1) 100%);
	
	transform: translateX(-17.5em) translateY(11em) translateZ(2.51em)  rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.divan_down_bottom_top_top
{
	position: absolute;
	width: 14em;
	height: 0.8em;
	border: 0px solid white;
	opacity: 1;
  
	background: black;
	
	transform: translateX(-17.5em) translateY(13.2em) translateZ(7em)  rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.divan_down_bottom_top_ri
{
	position: absolute;
	width: 1.5em;
	height: 3em;
	border: 0px solid white;
	opacity: 1;
  
    background: black;
	
	transform: translateX(-3.5em) translateY(11em) translateZ(7em)  rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.divan_down_bottom_top_le
{
	position: absolute;
	width: 1.5em;
	height: 3em;
	border: 0px solid white;
	opacity: 1;
  
    background: black;
	
	transform: translateX(-19em) translateY(11em) translateZ(7em)  rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.divan_down_left_left
{
	position: absolute;
	width: 6em;
	height: 3em;
	border: 0px solid white;
	opacity: 1;
  
	background: #393939;;
	
	transform: translateX(-22em) translateY(11em) translateZ(4em)  rotateX(0deg) rotateY(90deg) rotateZ(0deg);
}
.divan_down_right_right{
	position: absolute;
	width: 6em;
	height: 3em;
	border: 0px solid white;
	opacity: 1;
  
	background: linear-gradient(to bottom left, rgba(188,94,163,1) 0%,rgba(0,0,0,1) 100%);
	
	transform: translateX(-5em) translateY(11em) translateZ(4em)  rotateX(0deg) rotateY(90deg) rotateZ(0deg);
}
.divan_down_left_right
{
	position: absolute;
	width: 6em;
	height: 3em;
	border: 0px solid white;
	opacity: 1;

	background: #160b13;
	
	transform: translateX(-20.5em) translateY(11em) translateZ(4em)  rotateX(0deg) rotateY(90deg) rotateZ(0deg);
}
.divan_down_left_right2
{
	position: absolute;
	width: 6em;
	height: 3em;
	border: 0px solid white;
	opacity: 1;
  
	background: linear-gradient(to bottom right, rgba(0,0,0,0) 0%,rgba(0,0,0,9) 100%);
	
	transform: translateX(-20.5em) translateY(11em) translateZ(4em)  rotateX(0deg) rotateY(90deg) rotateZ(0deg);
}

/*-------------------------------------------------podushka 2---------------*/
.divan_poduha_2_bottom
{
	  position: absolute;
	  width: 5em;
	  height: 4em;
	  border: 0px solid white;
	  opacity: 1;
  
 
      background-image: url(ko1a.jpg);
	  background-repeat:  repeat;
	  background-size: 150%;
	
	  transform: translateX(-9.5em) translateY(9.5em) translateZ(3.5em)  rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
  
.divan_poduha_2_bottom2
{
	  position: absolute;
	  width: 5em;
	  height: 4em;
	  border: 0px solid white;
	  opacity: 1;
  
      background: black;
	
	  transform: translateX(-9.5em) translateY(9.5em) translateZ(2.5em)  rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
 
.divan_poduha_2_up
{
	  position: absolute;
	  width: 5em;
	  height: 1em;
	  border: 0px solid white;
	  opacity: 1;
  
 
	  background: linear-gradient(to bottom left, rgba(188,94,163,1) 0%,rgba(0,0,0,1) 100%);
	
	  transform: translateX(-9.5em) translateY(9em) translateZ(3em)  rotateX(90deg) rotateY(0deg) rotateZ(0deg);
} 
/*-------------------------------------------------podushka 2---------------*/
  
  
/*-------------------------------------------------PLAKATI---------------*/ 
/*-------------------------------------------------PLAKATI---------------*/ 
/*-------------------------------------------------PLAKATI---------------*/ 
/*-------------------------------------------------PLAKATI---------------*/ 
/*-------------------------------------------------PLAKATI---------------*/

.plakat_rabota
{
	  position: absolute;
	  width: 35em;
	  height: 21em;
	  border: 0px solid white;
	  opacity: 1;
  
      background-image: url(okno.jpg);
	  background-repeat:  no-repeat;
	  background-size: cover; 
	
      transform: translateX(-31em) translateY(-5em) translateZ(-7em)  rotateX(0deg) rotateY(0deg) rotateZ(0deg); 
}
/*-------------------------------------------------PLAKATI---------------*/ 
/*-------------------------------------------------PLAKATI---------------*/ 
/*-------------------------------------------------PLAKATI---------------*/ 
/*-------------------------------------------------PLAKATI---------------*/ 
/*-------------------------------------------------PLAKATI---------------*/ 

/*-------------------------------------------------NOGI DIVANA---------------*/
  
.divan_noga_1_l
{
	  position: absolute;
	  width: .5em;
	  height: 1.5em;
	  border: 0px solid white;
	  opacity: 1;
	  
	  background:  #393939 ;
		
	  transform: translateX(-3em) translateY(13.5em) translateZ(6.1em)  rotateX(0deg) rotateY(0deg) rotateZ(0deg);	 
}
.divan_noga_1_r
{
	  position: absolute;
	  width: .5em;
	  height: 1.5em;
	  border: 0px solid white;
	  opacity: 1;
	  
	  background:gray;
		
	  transform: translateX(-2.75em) translateY(13.5em) translateZ(5.8em)  rotateX(0deg) rotateY(90deg) rotateZ(0deg);	 
}
.divan_noga_1_b
{
	  position: absolute;
	  width: .5em;
	  height: 1.5em;
	  border: 0px solid white;
	  opacity: 1;
	  
	 
	  background: #191919;
		
	  transform: translateX(-3.25em) translateY(13.5em) translateZ(5.8em)  rotateX(0deg) rotateY(90deg) rotateZ(0deg);	 
}
  
.divan_noga_2_l
{
	  position: absolute;
	  width: .5em;
	  height: 1.5em;
	  border: 0px solid white;
	  opacity: 1;
	  
	  background:  #393939 ;
		
	  transform: translateX(-18em) translateY(13.5em) translateZ(6.1em)  rotateX(0deg) rotateY(0deg) rotateZ(0deg); 
}
.divan_noga_2_r
{
	  position: absolute;
	  width: .5em;
	  height: 1.5em;
	  border: 0px solid white;
	  opacity: 1;
	  
	  background:gray;
		
	  transform: translateX(-17.75em) translateY(13.5em) translateZ(5.8em)  rotateX(0deg) rotateY(90deg) rotateZ(0deg); 
}

.divan_noga_3_l
{
	  position: absolute;
	  width: .5em;
	  height: 1.5em;
	  border: 0px solid white;
	  opacity: 1; 
	 
	  background:  #393939 ;
		
	  transform: translateX(-3em) translateY(13.5em) translateZ(2.1em)  rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.divan_noga_3_r
{
	  position: absolute;
	  width: .5em;
	  height: 1.5em;
	  border: 0px solid white;
	  opacity: 1;

	  background:gray;
		
	  transform: translateX(-2.75em) translateY(13.5em) translateZ(1.8em)  rotateX(0deg) rotateY(90deg) rotateZ(0deg);
}


  
@keyframes mise_go
{
	0% 
	{
		transform: translateX(25em)   translateY(13em) translateZ(5em);
	}
	20% 
	{
		transform: translateX(25em)   translateY(13em) translateZ(5em);
	}
	90% 
	{
		transform: translateX(0em)   translateY(13em) translateZ(5em);
	} 
	40% 
	{
		transform: translateX(-30em)   translateY(13em) translateZ(5em);
	}  
  	100% 
	{
		transform: translateX(-30em)   translateY(13em) translateZ(5em);
	}
}

@keyframes seeya 
{
	from 
	{
		box-shadow:
		  0px 0px 10px #fff,
		  0px 0px 10px #fff, 
		  0px 0px 25px #fff,
		  0px 0px 25px #fff,
		  0px 0px 25px #fff,
		  0px 0px 25px #fff,
		  0px 0px 25px #fff,
		  0px 0px 25px #fff,
		  0px 0px 50px #fff,
		  0px 0px 50px #fff,
		  0px 0px 50px magenta,
		  0px 0px 150px magenta,
		  0px 10px 100px magenta,
		  0px 10px 100px magenta,
		  0px -10px 100px magenta,
		  0px -10px 100px magenta;
	}
}  

@keyframes vent_go_round {
  0% {
    transform:translateX(-7em) translateY(-8em) translateZ(14em) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  }
  25% {
    transform: translateX(-7em) translateY(-8em) translateZ(14em) rotateX(90deg) rotateY(0deg) rotateZ(90deg);
  } 
  50% {
    transform: translateX(-7em) translateY(-8em) translateZ(14em) rotateX(90deg) rotateY(0deg) rotateZ(180deg);
  } 
  75% {
    transform: translateX(-7em) translateY(-8em) translateZ(14em) rotateX(90deg) rotateY(0deg) rotateZ(270deg);
  }  
  100% {
    transform: translateX(-7em) translateY(-8em) translateZ(14em) rotateX(90deg) rotateY(0deg) rotateZ(360deg);
  }  
}

@keyframes vent_go_round2 {
  0% {
    transform:translateX(-8em) translateY(-10em) translateZ(15em) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  }
  25% {
    transform: translateX(-8em) translateY(-10em) translateZ(15em) rotateX(90deg) rotateY(0deg) rotateZ(90deg);
  } 
  50% {
    transform: translateX(-8em) translateY(-10em) translateZ(15em) rotateX(90deg) rotateY(0deg) rotateZ(180deg);
  } 
  75% {
    transform: translateX(-8em) translateY(-10уm) translateZ(15em) rotateX(90deg) rotateY(0deg) rotateZ(270deg);
  }  
  100% {
    transform: translateX(-8em) translateY(-10em) translateZ(15em) rotateX(90deg) rotateY(0deg) rotateZ(360deg);
  }  
}



.footer 
{ 
				padding: 0px;
				background: black; 
				opacity: 0.6;
				margin-left: 0%; 
				margin: 0%; 
				position: absolute;
				bottom: -44%;
				width: 100%; 
				text-align: center ; 
				border: 0px solid #000;
				z-index: 8;				
				margin-left: 0%; 
				margin-right: 0%;
				height:5%;
				
				font-family: Helvetica;
				font-size: inherit;
				margin: 0%; 
				color: white;
}

.menu 
{
	padding: 0px;
	/* background: linear-gradient(to top, rgba(0,0,0,0) 20%, rgba(0,0,0,.5) 80%, rgba(0,0,0,1) 110%);**/
	margin-right: 0%; 
	margin: 0%; 
	position: fixed;
	top:0%;
	
	right: 8%;
	padding-right: 1%;
	text-align: left; 
	border: 0px solid #000;
	background: black;
	z-index: 5;
}	
	
.menu_s 
{
	padding: 0px;
	color: white;
	font-size: 100%;
	opacity: 1;
	margin-left: 0%; 
	margin-top: 10%; 
	margin: 0%; 
	position: fixed;
	bottom:5%;
	top:30%;
	height:100%;
	
	bottom: 0%;
	left: 2%;
	text-align: left; 
	border: 0px solid #000;
	
	z-index: 5;
}

@media screen and (max-width: 600px) 
{	
			
	.SSIS 
	{
		border:0;
		bottom: 0%;
		width: 15%; 
		align:left;
		opacity: 1;
		left: 0%;
		background: black;
	}
	.menu_hre 
	{
		font-family: Helvetica;
		font-size: inherit;
		color: white;
		font-weight: lighter;
		opacity: 1;
		font-size: 140%;
		text-decoration: none;
	}	
	
	.menu_bot 
	{
		padding: 0px;
		/* background: linear-gradient(to top, rgba(0,0,0,0) 20%, rgba(0,0,0,.5) 80%, rgba(0,0,0,1) 110%);**/
		margin-right: 0%; 
		margin: 0%; 
		position: fixed;
		bottom:-35%;
		height:15%;
		padding-left: 3%;
		padding-right:3%;
	
		right: -100%;
					
		text-align: left; 
		border: 0px solid #000;
		background: black;
		z-index: 5;
	}
}
@media screen and (min-width: 600px) 
{	

	.dviz_mu2
	{
		position: absolute;
		width: 3em;
		height: 3em;
		border: 0px solid white;
		opacity: .8;
	  
		background-image: url(dimit.png);
		background-repeat:  no-repeat;
		background-size: 100%; 
		
		transform: translateX(-2.75em) translateY(10em) translateZ(18em)  rotateX(0deg) rotateY(0deg) rotateZ(0deg);

		animation: music_go2 25s infinite linear;
	}
	@keyframes music_go2
	{
		0% 
		{
			transform: translateX(-35em) translateY(2em) translateZ(20em)  rotateX(0deg) rotateY(0deg) rotateZ(0deg);
			width: 34em;
			height: 34em;
			opacity: .6;
		}
		50% 
		{
			transform: translateX(0em) translateY(2em) translateZ(20em)  rotateX(0deg) rotateY(0deg) rotateZ(0deg);
			width: 35em;
			height: 35em;
			opacity: .5;
		}
		100% 
		{
			transform: translateX(35em) translateY(2em) translateZ(20em)  rotateX(0deg) rotateY(0deg) rotateZ(0deg);
			width: 37em;
			height: 37em;
			opacity: 0;
		}
	}
	.dviz_mu3
	{
		position: absolute;
		width: 3em;
		height: 3em;
		border: 0px solid white;
		opacity: .8;
	  
		background-image: url(dimit.png);
		background-repeat:  no-repeat;
		background-size: 100%; 
		
		transform: translateX(-2.75em) translateY(10em) translateZ(18em)  rotateX(0deg) rotateY(0deg) rotateZ(0deg);

		animation: music_go3 45s infinite linear;
	}
	@keyframes music_go3
	{
		0% 
		{
			transform: translateX(-45em) translateY(2em) translateZ(20em)  rotateX(0deg) rotateY(180deg) rotateZ(0deg);
			width: 44em;
			height: 44em;
			opacity: .6;
		}	
		10% 
		{
			transform: translateX(-45em) translateY(2em) translateZ(20em)  rotateX(0deg) rotateY(180deg) rotateZ(0deg);
			width: 44em;
			height: 44em;
			opacity: .6;
		}	
		100% 
		{
			transform: translateX(35em) translateY(2em) translateZ(20em)  rotateX(0deg) rotateY(180deg) rotateZ(0deg);
			width: 47em;
			height: 47em;
			opacity: 0;
		}
	}	
	.SSIS 
	{
		border:0;
		bottom: 0%;
		width: 15%; 
		align:left;
		opacity: 1;
		left: 0%;
		z-index:1;
	}
	.menu_hre 
	{
		font-family: Helvetica;
		font-size: inherit;
		color: white;
		font-weight: lighter;
		opacity: 1;
		font-size: 140%;
		text-decoration: none;
	}	
	.menu_hre2 
	{
		font-family: Helvetica;
		font-size: inherit;
		color: white;
		font-weight: lighter;
		opacity: 1;
		font-size: 140%;
		text-decoration: none;
	}
	.menu_bot 
	{
		padding: 0px;
		/* background: linear-gradient(to top, rgba(0,0,0,0) 20%, rgba(0,0,0,.5) 80%, rgba(0,0,0,1) 110%);**/
		margin-right: 0%; 
		margin: 0%; 
		position: fixed;
		bottom:-35%;
		height:15%;
		padding-left: 3%;
		padding-right:3%;
		
		right: 7%;
		
		text-align: left; 
		border: 0px solid #000;
		background: black;
		z-index: 5;
	}		
}

li 
{
  display: block;
}


//////// 
HTML, BODY 
{
    height: 100%;
	weight: 100%;
	overflow: hidden;
}

BODY 
{
	  display: flex;
	  justify-content: center;
	  align-items: center;

	  overflow: hidden;
}
 